<a href="https://colab.research.google.com/github/suryautharakumar/FriendsZone/blob/main/Week4_S1_25_workshop3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìù Hands-On Exercises: Functions in Python

**Task: Write a function greet() that prints the following message**

         "Hello, welcome to Python programming!".

In [ ]:
def greet():
    print("Hello, welcome to Python programming!")

greet()

Hello, welcome to Python programming!

**Function with Parameters**

**Task: Create a function personal_greet(name) that prints a personalized greeting: Call it with at least two different names.**

    Hello <name>, glad to see you learning Python!

In [ ]:
def personal_greet(name):
    print(f"Hello {name}, glad to see you learning Python!")

personal_greet("Surya")
personal_greet("Sebastine")

Hello Surya, glad to see you learning Python!
Hello Sebastine, glad to see you learning Python!

**Function with Return Value**

**Task: Write a function add_numbers(a, b) that returns the sum of two numbers.
Call the function by inputting with different numbers and print the results.**

In [ ]:
def add_number(a,b):
    return a + b

add_number(2,3)
add_number(5,9)

14

**Using Default Parameters**

**Task: Write a function power(base, exponent=2) that returns base raised to the power of exponent. Test it by calling power(5) and power(2, 3).**

In [ ]:
def power(base, exponent=2):
    return base ** exponent

fun01 = power(5)
print("Power of 5 is",fun01)

fun02 = power(2,3)
print("\nPower of 2,3 is",fun02)

Power of 5 is 25

Power of 2,3 is 8

**Palindrome Checker**

**Task: Write a function is_palindrome(text) that returns True if the string is the same when reversed, otherwise False.**

In [ ]:
def palindrome(test):
  if test == test[::-1]:
    return test+" is a Palindrome"
  else:
    return test+" is not a Palindrome"

test01 = palindrome("madam")
print(test01)

test02 = palindrome("surya")
print(test02)

madam is a Palindrome
surya is not a Palindrome

**Function with Dictionary Lookup**

**Task: Write a function day_of_week(num) that returns the day name for numbers 1‚Äì7 (1 = Monday, 7 = Sunday). Use a dictionary instead of if.**

In [ ]:
def day_of_week(num):
    days = {1: 'Monday',
            2: 'Tuesday',
            3: 'Wednesday',
            4: 'Thursday',
            5: 'Friday',
            6: 'Saturday',
            7: 'Sunday'}

    return days.get(num, 'Invalid input. Number must be 1 to 7 only')

print(day_of_week(1),"\n")
print(day_of_week(5),"\n")
print(day_of_week(9))

Monday

Friday

Invalid input. Number must be 1 to 7 only

**Multiple Return Values**

**Task: Create a function circle_measurements(radius) that returns both area and circumference of a circle.**

**Use formulas:**

**Area = œÄ √ó r¬≤**

**Circumference = 2 √ó œÄ √ó r**

In [ ]:
import math

def circle_measurements(radius):
    area = math.pi * radius ** 2
    circumference = 2 * math.pi * radius
    return area, circumference

area, circumference = circle_measurements(4)
print("Area:", area)
print("Circumference:", circumference)

Area: 50.26548245743669
Circumference: 25.132741228718345

**Function Composition**

**Tasks: Write two functions:**

* fahrenheit_to_celsius(f) ‚Üí converts Fahrenheit to Celsius

* celsius_to_kelvin(c) ‚Üí converts Celsius to Kelvin

**Then create a third function fahrenheit_to_kelvin(f) that uses the first two functions to convert Fahrenheit to Kelvin.**

In [ ]:
def fahrenheit_to_celsius(f):
    return (f - 32)*3/4

def celsius_to_kelvin(c):
    return c + 273.15

def fahrenheit_to_kelvin(f):
    c = fahrenheit_to_celsius(f)
    k = celsius_to_kelvin(c)
    return k

print("The Fahrenheit to celsius",fahrenheit_to_celsius(20),"\n")
print("The Celsius to kelvin",celsius_to_kelvin(15),"\n")
print("The Fahrenheit to kelvin",fahrenheit_to_kelvin(35))

The Fahrenheit to celsius -9.0

The Celsius to kelvin 288.15

The Fahrenheit to kelvin 275.4

**Function with Keyword Arguments :**

**Task: Create a function book_info(title, author, year=2025) that prints the book details. Call it using positional and keyword arguments.**

In [ ]:
def book_info(title, author, year=2025):
    print(f"Title: {title}")
    print(f"Author: {author}")
    print(f"Year: {year}")

book_info("Mersal","Atlee",2017)

Title: Mersal
Author: Atlee
Year: 2017

**Function with Mathematical Computation**

**Task: Write a function quadratic_roots(a, b, c) that returns the two roots of a quadratic equation ax¬≤ + bx + c = 0. Use the quadratic formula.**

In [ ]:
def quadratic_roots(a, b, c):
    d = b**2 - 4*a*c
    r1 = (-b + d**0.5) / (2*a)
    r2 = (-b - d**0.5) / (2*a)
    return r1, r2

**Challenge: Calculator Function**

**Task: Create a function calculator(a, b, operation) where operation can be "add", "subtract", "multiply", or "divide". The function should return the correct result.**

In [ ]:
def calculator(a,b,operator):
  operation = {
      "+" : lambda a,b:a+b,
      "-" : lambda a,b:a-b,
      "/" : lambda a,b:a/b,
      "*" : lambda a,b:a*b
  }
  return operation.get(operator, lambda a,b:"Invalid Operator Input")(a,b)

print(calculator(2,3,"+")) #Add
print(calculator(32,24,"-")) #Subtration
print(calculator(8,73,"*")) #Multiply
print(calculator(12,2,"/")) #Divide
print(calculator(82,9,"surya")) #Invalid Operator Input

5
8
584
6.0
Invalid Operator Input